# Table selection

In [1]:
%load_ext dotenv
%dotenv

In [2]:
from utils.table_selection.table_selector import *
from utils.table_selection.table_details import *
from utils.api_data_request.api_generator import *

In [3]:
table_descriptions = get_table_schemas()
print(table_descriptions, "\n")

table name: Consumer Price Index - CPI
table description: Table 'Consumer Price Index - CPI' has price index for products, encompassing over 200 expenditure categories grouped into major segments (food and beverages, housing, apparel, recreation, and other goods).
table columns: Year [INTEGER] (year), Consumer Price Inde [FLOAT] (consumer price index), Standard Error [FLOAT] (standard error or CPI), Percent Change [FLOAT] (percentage change), Level 1.1 [TEXT] (enums `PRODUCTS_1`, Level 1 classification of products), Level 2.1 [TEXT] (Level 2.1 classification of products/services)


table name: dot_faf
table description: Table 'dot_faf' has freight movement among states and major metropolitan areas by all modes of transportation. Shows which goods are shipped from one region of the US to another region, according to type of commodity, mode of shipment, value, and weight.
table columns: Year [INTEGER] (year), Millions Of Dollars [FLOAT] (value in millions of dollars of a certain shipment.), Thousands Of Tons [FLOAT] (weight in thousands of tons of a certain shipment.), Origin State [TEXT] (origin state), Origin Region [TEXT] (origin region), Destination State [TEXT] (destination state), Destination Region [TEXT] (destination region), SCTG2 [TEXT] (products based on SCTG classification (first level).), Transportation Mode [TEXT] (mode of transportation or shipment.)


table name: ed_defaults
table description: Table `ed_defaults` has cohort default rates of schools.
table columns: Borrowers in Default [INTEGER] (Number of borrowers in default), Default Rate [FLOAT], Year [INTEGER], State [TEXT] (US states), OPEID [School name according to the Office of Postsecondary Education Identifier], OPEID ID [ID of schools according to the Office of Postsecondary Education Identifier]


table name: pums_5
table description: Table 'pums_5' has data on total population and average wages by Year, Nation, State or PUMA, age, gender, race, PUMS occupation and PUMS industry. You can query any combination of these.
table columns: Year [INTEGER] (year), Nation [TEXT], State [TEXT], PUMA [TEXT] (public use microdata areas), Age [INTEGER], Gender [TEXT], Race [TEXT], PUMS occupation [TEXT] (PUMS Occupation classification), PUMS industry [TEXT] (PUMS industry classification), Average Wage [INTEGER], Total Population [INTEGER], Average Income [INTEGER], Average Age [INTEGER]

In [4]:
get_table_names()

['Consumer Price Index - CPI', 'dot_faf', 'ed_defaults', 'pums_5']

In [5]:
query = 'how much coal was moved between New York and California in 2020?'

#### Getting table from LLM (OpenAI's API)

In [6]:
table_llm = get_relevant_tables_from_lm(query)

Messages:
 [{'role': 'user', 'content': 'What service presented the highest growth in the consumer price index during the last year?'}, {'role': 'assistant', 'content': '\n{\n    "tables": ["Consumer Price Index - Services"]\n}\n'}, {'role': 'user', 'content': 'What is the average monthly CPI volatility for all product groups combined?'}, {'role': 'assistant', 'content': '\n{\n    "tables": ["Consumer Price Index - Products"]\n}\n'}, {'role': 'user', 'content': 'Which states or metropolitan areas are the primary origins for specific products, and which are the primary destinations?'}, {'role': 'assistant', 'content': '\n{\n    "tables": ["Consumer Price Index - Products"]\n}\n'}, {'role': 'user', 'content': 'What is the trend in total freight movement volume across all transportation modes over the past five years?'}, {'role': 'assistant', 'content': '\n{\n    "tables": ["dot_faf", "us_location_data"]\n}\n'}, {'role': 'user', 'content': 'What is the trend in total freight movement volume across all transportation modes over the past five years?'}, {'role': 'assistant', 'content': '\n{\n    "tables": ["dot_faf", "us_location_data"]\n}\n'}, {'role': 'user', 'content': '\n        You are an expert data scientist.\n\n        Return a JSON object with relevant SQL tables for answering the following natural language query:\n\n        ---------------\n\n        how much coal was moved between New York and California in 2020?\n        \n---------------\n\n        Respond in JSON format with your answer in a field named "tables" which is a list of strings.\n\n        Respond with an empty list if you cannot identify any relevant tables.\n\n        Write your answer in markdown format.\n\n        \n            The following is a table that can be used to answer the natural language query, along with the definition of its enums:\n\n            ---------------------\n\n            table name: Consumer Price Index - CPI\ntable description: Table \'Consumer Price Index - CPI\' has price index for products, encompassing over 200 expenditure categories grouped into major segments (food and beverages, housing, apparel, recreation, and other goods).\ntable columns: Year [INTEGER] (year), Consumer Price Inde [FLOAT] (consumer price index), Standard Error [FLOAT] (standard error or CPI), Percent Change [FLOAT] (percentage change), Level 1.1 [TEXT] (enums `PRODUCTS_1`, Level 1 classification of products), Level 2.1 [TEXT] (Level 2.1 classification of products/services)\n\n\ntable name: dot_faf\ntable description: Table \'dot_faf\' has freight movement among states and major metropolitan areas by all modes of transportation. Shows which goods are shipped from one region of the US to another region, according to type of commodity, mode of shipment, value, and weight.\ntable columns: Year [INTEGER] (year), Millions Of Dollars [FLOAT] (value in millions of dollars of a certain shipment.), Thousands Of Tons [FLOAT] (weight in thousands of tons of a certain shipment.), Origin State [TEXT] (origin state), Origin Region [TEXT] (origin region), Destination State [TEXT] (destination state), Destination Region [TEXT] (destination region), SCTG2 [TEXT] (products based on SCTG classification (first level).), Transportation Mode [TEXT] (mode of transportation or shipment.)\n\n\ntable name: ed_defaults\ntable description: Table `ed_defaults` has cohort default rates of schools.\ntable columns: Borrowers in Default [INTEGER] (Number of borrowers in default), Default Rate [FLOAT], Year [INTEGER], State [TEXT] (US states), OPEID [School name according to the Office of Postsecondary Education Identifier], OPEID ID [ID of schools according to the Office of Postsecondary Education Identifier]\n\n\ntable name: pums_5\ntable description: Table \'pums_5\' has data on total population and average wages by Year, Nation, State or PUMA, age, gender, race, PUMS occupation and PUMS industry. You can query any combination of these.\ntable columns: Year [INTEGER] (year), Nation [TEXT], State [TEXT], PUMA [TEXT] (public use microdata areas), Age [INTEGER], Gender [TEXT], Race [TEXT], PUMS occupation [TEXT] (PUMS Occupation classification), PUMS industry [TEXT] (PUMS industry classification), Average Wage [INTEGER], Total Population [INTEGER], Average Income [INTEGER], Average Age [INTEGER]\n\n            ---------------------\n\n\n            in your answer, provide the following information:\n\n            \n            - <one to two sentence comment explaining what tables can be relevant goes here>\n\n            - <comment double checking the table is the one above along with what the first column in the table is or (none) if it doesn\'t exist.>\n\n            - <finally select the most relevant table that can be used to answer the query.>\n            - the markdown formatted like this:\n\n            ```\n\n            <json of the most relevant table>\n\n            ```\n\n\n            Provide only the most relevant table and nothing else after.\n            '}]



ChatGPT response: The relevant table for this query would be 'dot_faf' as it contains information about freight movement among states and major metropolitan areas by all modes of transportation. It shows which goods are shipped from one region of the US to another region, according to type of commodity, mode of shipment, value, and weight.

```
{
    "tables": ["dot_faf"]
}
```

Tables: {
    "tables": ["dot_faf"]
}

In [7]:
print(table_llm)

['dot_faf']

#### Getting table from DB (with embeddings)

In [8]:
table_db = get_relevant_tables_from_database(query)

DF:   table_name  similarity
0    dot_faf    0.204381

In [9]:
get_table_schemas(table_db)

"table name: dot_faf\ntable description: Table 'dot_faf' has freight movement among states and major metropolitan areas by all modes of transportation. Shows which goods are shipped from one region of the US to another region, according to type of commodity, mode of shipment, value, and weight.\ntable columns: Year [INTEGER] (year), Millions Of Dollars [FLOAT] (value in millions of dollars of a certain shipment.), Thousands Of Tons [FLOAT] (weight in thousands of tons of a certain shipment.), Origin State [TEXT] (origin state), Origin Region [TEXT] (origin region), Destination State [TEXT] (destination state), Destination Region [TEXT] (destination region), SCTG2 [TEXT] (products based on SCTG classification (first level).), Transportation Mode [TEXT] (mode of transportation or shipment.)\n"

#### Getting table with hybrid approach 
- Gets top k matches from DB, then asks the LLM to choose the most relevant

In [10]:
table_db_llm = request_tables_to_lm_from_db(query)

DF:                    table_name  similarity
0                     dot_faf    0.204381
1                      pums_5    0.181877
2  Consumer Price Index - CPI    0.109880
Messages:
 [{'role': 'user', 'content': 'What service presented the highest growth in the consumer price index during the last year?'}, {'role': 'assistant', 'content': '\n{\n    "tables": ["Consumer Price Index - Services"]\n}\n'}, {'role': 'user', 'content': 'What is the average monthly CPI volatility for all product groups combined?'}, {'role': 'assistant', 'content': '\n{\n    "tables": ["Consumer Price Index - Products"]\n}\n'}, {'role': 'user', 'content': 'Which states or metropolitan areas are the primary origins for specific products, and which are the primary destinations?'}, {'role': 'assistant', 'content': '\n{\n    "tables": ["Consumer Price Index - Products"]\n}\n'}, {'role': 'user', 'content': 'What is the trend in total freight movement volume across all transportation modes over the past five years?'}, {'role': 'assistant', 'content': '\n{\n    "tables": ["dot_faf", "us_location_data"]\n}\n'}, {'role': 'user', 'content': 'What is the trend in total freight movement volume across all transportation modes over the past five years?'}, {'role': 'assistant', 'content': '\n{\n    "tables": ["dot_faf", "us_location_data"]\n}\n'}, {'role': 'user', 'content': '\n        You are an expert data scientist.\n\n        Return a JSON object with relevant SQL tables for answering the following natural language query:\n\n        ---------------\n\n        how much coal was moved between New York and California in 2020?\n        \n---------------\n\n        Respond in JSON format with your answer in a field named "tables" which is a list of strings.\n\n        Respond with an empty list if you cannot identify any relevant tables.\n\n        Write your answer in markdown format.\n\n        \n            The following are the tables you can query and the definition of their enums:\n\n            ---------------------\n\n            table name: Consumer Price Index - CPI\ntable description: Table \'Consumer Price Index - CPI\' has price index for products, encompassing over 200 expenditure categories grouped into major segments (food and beverages, housing, apparel, recreation, and other goods).\ntable columns: Year [INTEGER] (year), Consumer Price Inde [FLOAT] (consumer price index), Standard Error [FLOAT] (standard error or CPI), Percent Change [FLOAT] (percentage change), Level 1.1 [TEXT] (enums `PRODUCTS_1`, Level 1 classification of products), Level 2.1 [TEXT] (Level 2.1 classification of products/services)\n\n\ntable name: dot_faf\ntable description: Table \'dot_faf\' has freight movement among states and major metropolitan areas by all modes of transportation. Shows which goods are shipped from one region of the US to another region, according to type of commodity, mode of shipment, value, and weight.\ntable columns: Year [INTEGER] (year), Millions Of Dollars [FLOAT] (value in millions of dollars of a certain shipment.), Thousands Of Tons [FLOAT] (weight in thousands of tons of a certain shipment.), Origin State [TEXT] (origin state), Origin Region [TEXT] (origin region), Destination State [TEXT] (destination state), Destination Region [TEXT] (destination region), SCTG2 [TEXT] (products based on SCTG classification (first level).), Transportation Mode [TEXT] (mode of transportation or shipment.)\n\n\ntable name: pums_5\ntable description: Table \'pums_5\' has data on total population and average wages by Year, Nation, State or PUMA, age, gender, race, PUMS occupation and PUMS industry. You can query any combination of these.\ntable columns: Year [INTEGER] (year), Nation [TEXT], State [TEXT], PUMA [TEXT] (public use microdata areas), Age [INTEGER], Gender [TEXT], Race [TEXT], PUMS occupation [TEXT] (PUMS Occupation classification), PUMS industry [TEXT] (PUMS industry classification), Average Wage [INTEGER], Total Population [INTEGER], Average Income [INTEGER], Average Age [INTEGER]\n\n            ---------------------\n\n\n            in your answer, provide the following information:\n\n            \n            - <one to two sentence comment explaining what tables can be relevant goes here>\n\n            - <for each table identified, comment double checking the table is in the schema above along with what the first column in the table is or (none) if it doesn\'t exist. be careful that any tables suggested were actually above>\n\n            - <if any tables were incorrectly identified, make a note here about what tables from the schema should actually be used if any>\n\n            - the markdown formatted like this:\n\n            ```\n\n            <json of the tables>\n\n            ```\n\n\n            Provide only the list of related tables and nothing else after.\n            '}]



ChatGPT response: The relevant table for this query is 'dot_faf' as it contains information about freight movement among states and major metropolitan areas by all modes of transportation. It includes data on the type of commodity, mode of shipment, value, and weight.

The 'dot_faf' table is indeed in the schema provided above. The first column in this table is 'Year'.

No tables were incorrectly identified.

```
{
    "tables": ["dot_faf"]
}
```

Tables: {
    "tables": ["dot_faf"]
}

# API parameter generator

In [11]:
v, m, c = get_api_params_from_lm(query, table_db_llm[0], model = 'gpt-4-1106-preview')

ChatGPT response: The chosen variables, measures and filters can answer the query because they directly correspond to the information requested in the query: the amount of coal moved (measure), between New York and California (variables), in 2020 (filter).

The variables "Origin State" and "Destination State" exist in the table and will be used to specify the locations New York and California. The measure "Thousands Of Tons" exists in the table and will be used to quantify the amount of coal moved. The filter "Year = 2020" exists in the table and will be used to specify the time frame of interest. Additionally, the filter "SCTG2 = Coal" will be used to specify the type of commodity, which is also present in the table.

```json
{
    "variables": ["Origin State", "Destination State"],
    "measures": ["Thousands Of Tons"],
    "filters": ["Year = 2020", "SCTG2 = Coal", "Origin State = New York", "Destination State = California"]
}
```

Parameters: {
    "variables": ["Origin State", "Destination State"],
    "measures": ["Thousands Of Tons"],
    "filters": ["Year = 2020", "SCTG2 = Coal", "Origin State = New York", "Destination State = California"]
}

In [12]:
print("Variables:\n\n", v, "\n", "\nMeasures:\n\n", m, "\n", "\nCuts:\n\n", c)

Variables:

 ['Origin State', 'Destination State']

Measures:

 ['Thousands Of Tons']

Cuts:

 ['Year = 2020', 'SCTG2 = Coal', 'Origin State = New York', 'Destination State = California']

In [13]:
api_url = api_build(table = table_db_llm[0], drilldowns = v, measures = m, cuts = c)

In [14]:
api_url

'https://api-ts-zircon.datausa.io/tesseract/data.jsonrecords?cube=dot_faf&&drilldowns=Origin+State,Destination+State&measures=Thousands+Of+Tons&Year=2020&SCTG2=15&Origin State=04000US36&Destination State=04000US06'

# API Request

In [12]:
data, df = api_request(api_url)

In [13]:
data

[{'Origin State ID': '04000US01',
  'Origin State': 'Alabama',
  'Thousands Of Tons': 7598362.334556773},
 {'Origin State ID': '04000US02',
  'Origin State': 'Alaska',
  'Thousands Of Tons': 1239551.9880173053},
 {'Origin State ID': '04000US04',
  'Origin State': 'Arizona',
  'Thousands Of Tons': 3687145.6205386315},
 {'Origin State ID': '04000US05',
  'Origin State': 'Arkansas',
  'Thousands Of Tons': 4779858.874449888},
 {'Origin State ID': '04000US06',
  'Origin State': 'California',
  'Thousands Of Tons': 23684891.263292156},
 {'Origin State ID': '04000US08',
  'Origin State': 'Colorado',
  'Thousands Of Tons': 5810747.717232299},
 {'Origin State ID': '04000US09',
  'Origin State': 'Connecticut',
  'Thousands Of Tons': 2391268.6159814},
 {'Origin State ID': '04000US10',
  'Origin State': 'Delaware',
  'Thousands Of Tons': 923191.2903833825},
 {'Origin State ID': '04000US11',
  'Origin State': 'District of Columbia',
  'Thousands Of Tons': 122755.04869312332},
 {'Origin State ID': '04000US12',
  'Origin State': 'Florida',
  'Thousands Of Tons': 13363742.726304185},
 {'Origin State ID': '04000US13',
  'Origin State': 'Georgia',
  'Thousands Of Tons': 8686335.924973914},
 {'Origin State ID': '04000US15',
  'Origin State': 'Hawaii',
  'Thousands Of Tons': 802804.6266839288},
 {'Origin State ID': '04000US16',
  'Origin State': 'Idaho',
  'Thousands Of Tons': 2977743.458259399},
 {'Origin State ID': '04000US17',
  'Origin State': 'Illinois',
  'Thousands Of Tons': 16907174.964785043},
 {'Origin State ID': '04000US18',
  'Origin State': 'Indiana',
  'Thousands Of Tons': 10029380.358171992},
 {'Origin State ID': '04000US19',
  'Origin State': 'Iowa',
  'Thousands Of Tons': 9722662.3670313},
 {'Origin State ID': '04000US20',
  'Origin State': 'Kansas',
  'Thousands Of Tons': 6490734.630171478},
 {'Origin State ID': '04000US21',
  'Origin State': 'Kentucky',
  'Thousands Of Tons': 6200029.521427901},
 {'Origin State ID': '04000US22',
  'Origin State': 'Louisiana',
  'Thousands Of Tons': 17531953.73540346},
 {'Origin State ID': '04000US23',
  'Origin State': 'Maine',
  'Thousands Of Tons': 1483611.5191321757},
 {'Origin State ID': '04000US24',
  'Origin State': 'Maryland',
  'Thousands Of Tons': 3769239.8986931695},
 {'Origin State ID': '04000US25',
  'Origin State': 'Massachusetts',
  'Thousands Of Tons': 3485141.047921301},
 {'Origin State ID': '04000US26',
  'Origin State': 'Michigan',
  'Thousands Of Tons': 10047431.246994132},
 {'Origin State ID': '04000US27',
  'Origin State': 'Minnesota',
  'Thousands Of Tons': 10024419.838447098},
 {'Origin State ID': '04000US28',
  'Origin State': 'Mississippi',
  'Thousands Of Tons': 5649892.474790631},
 {'Origin State ID': '04000US29',
  'Origin State': 'Missouri',
  'Thousands Of Tons': 6287463.55672782},
 {'Origin State ID': '04000US30',
  'Origin State': 'Montana',
  'Thousands Of Tons': 2916080.7746176645},
 {'Origin State ID': '04000US31',
  'Origin State': 'Nebraska',
  'Thousands Of Tons': 6239736.4284066195},
 {'Origin State ID': '04000US32',
  'Origin State': 'Nevada',
  'Thousands Of Tons': 1833670.6006746602},
 {'Origin State ID': '04000US33',
  'Origin State': 'New Hampshire',
  'Thousands Of Tons': 991367.3936386949},
 {'Origin State ID': '04000US34',
  'Origin State': 'New Jersey',
  'Thousands Of Tons': 7136612.963827365},
 {'Origin State ID': '04000US35',
  'Origin State': 'New Mexico',
  'Thousands Of Tons': 2797773.0198712763},
 {'Origin State ID': '04000US36',
  'Origin State': 'New York',
  'Thousands Of Tons': 10392068.546989638},
 {'Origin State ID': '04000US37',
  'Origin State': 'North Carolina',
  'Thousands Of Tons': 6607335.048442582},
 {'Origin State ID': '04000US38',
  'Origin State': 'North Dakota',
  'Thousands Of Tons': 8936036.228347708},
 {'Origin State ID': '04000US39',
  'Origin State': 'Ohio',
  'Thousands Of Tons': 12694249.267338693},
 {'Origin State ID': '04000US40',
  'Origin State': 'Oklahoma',
  'Thousands Of Tons': 6208966.236566759},
 {'Origin State ID': '04000US41',
  'Origin State': 'Oregon',
  'Thousands Of Tons': 4356479.262295852},
 {'Origin State ID': '04000US42',
  'Origin State': 'Pennsylvania',
  'Thousands Of Tons': 12944382.196694646},
 {'Origin State ID': '04000US44',
  'Origin State': 'Rhode Island',
  'Thousands Of Tons': 729356.4135351295},
 {'Origin State ID': '04000US45',
  'Origin State': 'South Carolina',
  'Thousands Of Tons': 4382061.523971289},
 {'Origin State ID': '04000US46',
  'Origin State': 'South Dakota',
  'Thousands Of Tons': 2741159.8586013634},
 {'Origin State ID': '04000US47',
  'Origin State': 'Tennessee',
  'Thousands Of Tons': 6744526.586644469},
 {'Origin State ID': '04000US48',
  'Origin State': 'Texas',
  'Thousands Of Tons': 54204845.524075806},
 {'Origin State ID': '04000US49',
  'Origin State': 'Utah',
  'Thousands Of Tons': 3120412.8283478087},
 {'Origin State ID': '04000US50',
  'Origin State': 'Vermont',
  'Thousands Of Tons': 570241.452815388},
 {'Origin State ID': '04000US51',
  'Origin State': 'Virginia',
  'Thousands Of Tons': 6367951.550517709},
 {'Origin State ID': '04000US53',
  'Origin State': 'Washington',
  'Thousands Of Tons': 8288487.123531615},
 {'Origin State ID': '04000US54',
  'Origin State': 'West Virginia',
  'Thousands Of Tons': 4116103.2669475703},
 {'Origin State ID': '04000US55',
  'Origin State': 'Wisconsin',
  'Thousands Of Tons': 8215226.645778598},
 {'Origin State ID': '04000US56',
  'Origin State': 'Wyoming',
  'Thousands Of Tons': 6336468.474003034}]

In [10]:
df

   ID Year  Year  Average Wage
0     2021  2021  27936.525449
1     2020  2020  26200.581324
2     2019  2019  25356.424307
3     2018  2018  24316.619758
4     2017  2017  23247.646201
5     2016  2016  22225.811092
6     2015  2015  21547.164279
7     2014  2014  21282.953902